node_modules
.output
.nuxt
.astro
dist
.nitro
.cache

# Environment
.env
.env.*
!.env.example

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# CDK
nuxt-infra-ecs/cdk.out
nuxt-infra-lambda/cdk.out
astro-infra-lambda/cdk.out

# Docker
docker/.env

# pnpm
.pnpm-store

# jj
.jj/**

# Claude Code
.claude
